/advanced-machinery-warbles-29998.mp3
/ai.py
/bard_whisper.py
/computer-glitch-1-34620.mp3
/cookies.py
/cyborg-130757.mp3
/designed-mecha-elements-mechanism-01-118167.mp3
/prompt.wav
/robot-6282.mp3
/transformer-10-105083.mp3
/TTS.py
/wake_detect.wav